* {
    font-family: 'Arial', sans-serif;
}

body {
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.clt {
    width: 270px;
    height: 550px;
    border-radius: 30px;
    padding: 15px;
    color: #fff;
    background-color: #000;
}

.clt-screen {
    display: flex;
    align-items: end;
    justify-content: end;
    font-size: 4rem;
    height: 170px;
    margin: 0 15px 15px 0;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    font-size: 1.8rem;
    text-align: center;
    line-height: 60px;
    width: 60px;
    height: 60px;
    margin: 3.6px;
    border-radius: 50%;
    background-color: #313131;
    cursor: pointer;
    user-select: none;
}

.btn:hover {
    filter: brightness(120%);
}

.btn:active {
    filter: brightness(90%);
}

.btn-grey {
    background-color: #a0a0a0;;
}

.btn-yellow {
    background-color: #f69906;
}

.btn-zero {
    width: 128px;
    border-radius: 50px;
}

.text-black {
    color: black;
}

.text-center {
    line-height: 50px;
}

.line {
    width: 120px;
    border-bottom: 3px solid white;
    border-radius: 50px;
    margin: 30px auto 0;
}